Source: lliurex-flash-installer
Section: utils
Priority: extra
Maintainer: Hector Garcia Huerta <hectorgh@gmail.com>
Build-Depends: debhelper (>=9), llxcfg-dev, zero-dev, llxsrchelper
Standards-Version: 3.9.7
Homepage: http://lliurex.net

Package: lliurex-flash-installer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Adobe Flash Installer GUI by LliureX
 Package to install adobe-flashplugin and add canonical 
 repositories.
